.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-custom {
  color: #ccfff5;
  background-color:#80bfff;
}

.modal-header {
  border-bottom: none;
}

.modal-backdrop {
  background-color:#66b3ff;
}

.modal-content {
  background-color:#cce6ff;
}

.modal-footer {
  border-top: none;
}

.list-group-item-custom {
  background-color:#cce6ff;
}

.invalid-tooltip {
  visibility: hidden;
}

.invalid-feedback {
  visibility: hidden;
}

#inputFName:hover #invalidFname {
  visibility:visible;
}

#inputLName:hover #invalidLname {
  visibility:visible;
}

#inputEmail:hover #invalidEmail {
  visibility:visible;
}

#inputPassword:hover #invalidPassword {
  visibility:visible;
}

.form-control {
  border-color: aqua;
}
.form-control:focus, input:focus{
  outline: none;
  }
  
  #editInfoWindow {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #adc9ff;
    text-align: start;
    padding: 2%;
  }
  
  label {
    margin-bottom: 0px;
  }
  
  #editInfoWindow .margin {
    margin-top: 15px;
  }
  
  .editInfoTitle {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  #sexButtonWindow {
    display: flex;
    flex-wrap: wrap;
  }
  
  #basicInfoID {
    float: left;
  }
  
  #spanNearButton {
    float: left;
}

.navbarForm {
  width: 100%;
}

.navbarDiv {
  width: 100%;
}

.divRender {
  width: 100% !important;
}

.navbarContainer {
  width: 100% important;
}

@media (min-width: 768px) {
  .navbarForm [type="submit"]{
    margin-right: 60%;
  }

  .navbarForm [type="button"]{
    margin-left: 60%;
  }
}